@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Raleway:wght@300;400&family=Roboto:wght@500;700&display=swap');
/***************************************************************************
***************************************************************************
***************************************************************************
Table
1. reset
2. typo
3. general
4. css
5. responsive
***************************************************************************
***************************************************************************
***************************************************************************/


/***************************************************************************
                            1. reset
***************************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,button,select,option,input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    background-color:transparent;
    outline: 0;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section,img,main {
	display: block;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
em,address{font-style: normal;}
img{border:0;font-size: 0;line-height: 0}
img,video{max-width:100%;width:100%;height:auto;}
a,a:visited,a:focus,a:active,a:hover{text-decoration: none;}
*,*:before,*:after{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
caption {
    overflow: hidden;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}
th, td {
    vertical-align: middle;
    /* white-space: nowrap */
}
/***************************************************************************
                            2. typo
***************************************************************************/
html{font-size:14px;}
body, div, span, 
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,button,select,option,input,textarea{
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Noto Sans KR', 'Segoe UI', 'Roboto', arial, "맑은 고딕","Malgun Gothic", "돋움", sans-serif;
    font-weight: 400;
    letter-spacing:0.4px;
    color:#333;  
}
h1,h2,h3,h4,h5,h6{font-family: 'Noto Sans KR', "맑은 고딕","Malgun Gothic", "돋움", sans-serif;font-weight: 700;letter-spacing: 0;line-height: 1.5;color:#000;}
h1{font-size: 3rem;}
h2{font-size: 2.5rem;}
h3{font-size: 2rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.25rem;}
h6{font-size: 1rem;font-weight: 500;}
.h-eng{font-family: 'Roboto', sans-serif;line-height: 1.42;font-weight: 700;}
h1.h-eng{font-size: 3.12rem;}
h2.h-eng{font-size: 2.62rem;}
h3.h-eng{font-size: 2.12rem;}
h4.h-eng{font-size: 1.62rem;}
h5.h-eng{font-size: 1.37rem;}
h6.h-eng{font-size: 1.12rem;}
.h-sig{font-family: 'Raleway', sans-serif;line-height: 1.42;font-weight: 300;color:#727375;letter-spacing: -1.08px;}
h1.h-sig{font-size: 3.12rem;}
h2.h-sig{font-size: 2.62rem;}
h3.h-sig{font-size: 2.12rem;}
h4.h-sig{font-size: 1.62rem;}
h5.h-sig{font-size: 1.37rem;}
h6.h-sig{font-size: 1.12rem;font-weight: 400;}
p{margin-bottom:6px;}
.sub1{font-size:0.875rem;letter-spacing: 0.35px;color:#b4b5b8;}
.sub2{font-size:1rem;color:#b4b5b8;}
.sub3{font-size:1rem;color:#11378d;}
a,a:visited,a:focus,a:active{color:#333;}
a:hover,.point-fc{color: #2F59B7;}

/***************************************************************************
                            3. general
***************************************************************************/
body{background-color:#F5F6F8;}
.clearfix{clear: both;}
input::placeholder,textarea::placeholder {color: #D5D7DC;}

/*헤더*/
.btn-page-wrap,.call-user-wrap {font-size: 0;}
header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 56px;
    background-color: #11378D;
    display: flex;
    align-items: center;
    z-index: 1002;
}
/*헤더-페이지핸들*/
.btn-prev, .btn-next {
    width: 56px;
    height: 56px;
    display: inline-block;
    background-image: url(/images/btn_page.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.btn-prev {background-position: 0px 0px;}
.btn-prev:hover {background-position: -56px 0px;}
.btn-prev.down {background-position: -112px 0px;}
.btn-prev.disabled {background-position: -168px 0px;cursor: default;}
.btn-next {background-position: 0px -56px;margin-right: 16px;}
.btn-next:hover {background-position: -56px -56px;}
.btn-next.down {background-position: -112px -56px;}
.btn-next.disabled {background-position: -168px -56px;cursor: default;}
/*헤더-글로벌검색*/
.golbal-search-wrap {
    display: flex;
    width: 30%;
    min-width: 320px;
    height: 32px;
    background-color: #fff;
    margin-right: 16px;
    margin-left: auto;
    border-radius: 16px;
    font-size: 0;
    overflow: hidden;
}
.global-search-cat, .input-global-search, .submit-global-search {
    height: 32px;
    padding: 4px 16px;
}
.input-global-search {
    width: 100%;
}
.submit-global-search {
    width: 80px;
    min-width: 72px;
    margin-left: auto;
    background-image: url(/images/icon_global_search.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #F59696;
    cursor:pointer;
}
.submit-global-search:hover{
    background-color: #F26F6F;
}
/*헤더-서브액션*/
.sub-action-wrap {
    display: flex;
    width: auto;
    height: 56px;
    align-items: center;
}
.sub-action-item,.btn-go-to-link-inner {
    width: 36px;
    height: 36px;
    margin-right: 12px;
    background-image: url(/images/btn_sub_action.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.sub-action-item.btn-go-to-link-wrap,.sub-action-item.noti-toggle {
    background-image: none;
}
.btn-go-to-link-inner {background-position: 0px 0px;}
.btn-go-to-link-inner:hover {background-position: -36px 0px;}
.btn-go-to-setting {background-position: 0px -36px;}
.btn-go-to-setting:hover {background-position: -36px -36px;}
.sub-action-item input[type="checkbox"] {
    display: none;
}
.sub-action-item.noti-toggle input[type="checkbox"] + .noti-toggle-inner{
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 12px;
    background-image: url(/images/btn_sub_action.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 0px -72px;
}
.sub-action-item.noti-toggle input[type="checkbox"] + .noti-toggle-inner:hover{background-position: -36px -72px;}
.sub-action-item.noti-toggle input[type="checkbox"]:checked + .noti-toggle-inner{
    display: inline-block;
    width: 36px;
    height: 36px;
    margin-right: 12px;
    background-image: url(/images/btn_sub_action.png);
    background-repeat: no-repeat;
    cursor: pointer;
    background-position: 0px -108px;
}
.sub-action-item.noti-toggle input[type="checkbox"]:checked + .noti-toggle-inner:hover{background-position: -36px -108px;}
/*링크-드롭다운*/
.btn-go-to-link-wrap {
    position: relative;
}
.btn-go-to-link {
    width: 36px;
    height: 56px;
}
.btn-go-to-link-wrap:hover .link-dropdown,.link-dropdown:hover{display: flex;}
.link-dropdown {
    display: none;
    position: fixed;
    top: 56px;
    right: 176px;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 4px #dfe2e8;
    cursor: default;
    z-index: 1002;
}
.link-dropdown:after {
    content: "";
    position: absolute;
    top: -8px;
    right: 8px;
    width: 0;
    height: 0;
    font-size: 0;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 6px solid transparent;
}
.link-item {
    margin-right: 16px;
    font-size: 0;
}
.link-item:last-child {
    margin-right: 0;
}
.link-item a {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-image: url('/images/btn_link.png');
    background-repeat: no-repeat;
}
.go-to-survey a{background-position: 0px 0px;}
.go-to-survey a:hover{background-position: -48px 0px;}
.go-to-work-from-home a{background-position: 0px -48px;}
.go-to-work-from-home a:hover{background-position: -48px -48px;}
.go-to-approval a{background-position: 0px -96px;}
.go-to-approval a:hover{background-position: -48px -96px;}
.go-to-sales a{background-position: 0px -144px;}
.go-to-sales a:hover{background-position: -48px -144px;}
.go-to-nas a{background-position: 0px -192px;}
.go-to-nas a:hover{background-position: -48px -192px;}
.link-item a:after {
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 50px;
    font-size: 0.875rem;
    font-weight: 600;
    color: #11378D;
    letter-spacing: 0.35px;
}
.go-to-survey a:after{content:"설문"}
.go-to-work-from-home a:after{content:"재실"}
.go-to-approval a:after{content:"결재"}
.go-to-sales a:after{content:"영업관리"}
.go-to-nas a:after{content:"나스"}
/*헤더-유저*/
.call-user-wrap{
    margin-right: 16px;
}
.call-user-profile-state-wrap {
    position: relative;
    display: inline-block;
    width: 48px;
    cursor: pointer;
    font-size: 0;
}
.call-user-pic-wrap {
    display: inline-block;
    width: 40px;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #DFE2E8;
}
header .call-user-pic-wrap{border:0;}
.call-user-state {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-radius: 50%;
}
.call-user-state.online {background-color: #04DE71;}
.call-user-state.absence {background-color: #FF3B30;}
.call-user-state.otherWork {background-color: #ff9500;}
.call-user-state.workingOutside {background-color: #2094FA;}
.call-user-state.onCall {background-color: #ffe620;}
.call-user-state.atTable {background-color: #F26F6F;}
.call-user-state.inMeeting {background-color: #787aff;}
.call-user-state.offline {background-color: #333;}
/*헤더-유저-드롭다운*/
.call-user-profile-check[type="checkbox"]{display: none;font-size: 0;line-height: 0;}
.call-user-profile-check[type="checkbox"]:checked ~ .call-user-profile-dropdown-wrap{
    display: block;
}
.call-user-profile-dropdown-wrap {
    display: none;
    position: fixed;
    top: 56px;
    right: 16px;
    width: 308px;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 4px #dfe2e8;
    z-index: 1002;
}
.call-user-profile-dropdown-wrap:after {
    content: "";
    position: absolute;
    top: -8px;
    right: 8px;
    width: 0;
    height: 0;
    font-size: 0;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #fff;
    border-left: 6px solid transparent;
}
.call-user-owner {
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 16px;
    margin-left: auto;
    padding: 0 6px;
    border: 1px solid #b4b5b8;
    border-radius: 10px; 
    font-family: 'Roboto', sans-serif;
}
.call-user-profile-dropdown-wrap .call-user-profile-state-wrap {
    width: 50px;
    cursor: default;
}
.call-user-profile-dropdown-wrap .call-user-pic-wrap {
    width: 48px;
}
.call-user-profile-dropdown-wrap .call-user-state {
    right: -4px;
    width: 18px;
    height: 18px;
}
.call-user-profile-dropdown-wrap .call-user-info-wrap, .call-user-profile-dropdown-wrap .call-user-contact-wrap {
    width: 100%;
    padding: 8px 0px;
    border-bottom: 1px solid #DFE2E8;
}
.current-call-user-action-wrap {
    margin-left: -16px;
    padding-top: 8px;
    width: calc( 100% + 32px );
}
.current-call-user-action {
    position: relative;
    padding: 8px 16px;
    cursor: pointer;
}
.current-call-user-action.btn-edit-call-user-state:hover .change-state-wrap{
    display: block;
}
.call-user-profile-dropdown-wrap .change-state-wrap {
    display: none;
    position: absolute;
    top: 0;
    left: -129px;/*left값은 'change-state-wrap의가로값+1'만큼 -로 보낸다 */
    background-color: #fff;
    border-radius: 8px 0px 8px 8px;
    box-shadow: 0px 0px 4px #dfe2e8;
    z-index: 1002;
}
.current-call-user-action-icon{
    display: inline-block;
    margin-right: 8px;
    width:14px;
    height: 12px;
    background-image: url('/images/icon_current-call-user-action.png');
    background-repeat: no-repeat;
}
.btn-edit-photo .current-call-user-action-icon{background-position: 0px 0px;}
.btn-edit-photo:hover .current-call-user-action-icon{background-position: -14px 0px;}
.btn-edit-call-user-state .current-call-user-action-icon{background-position: 0px -12px;}
.btn-edit-call-user-state:hover .current-call-user-action-icon{background-position: -14px -12px;}
.btn-edit-alias .current-call-user-action-icon{background-position: 0px -24px;}
.btn-edit-alias:hover .current-call-user-action-icon{background-position: -14px -24px;}
.btn-sign-out .current-call-user-action-icon{background-position: 0px -36px;}
.btn-sign-out:hover .current-call-user-action-icon{background-position: -14px -36x;}
.change-state-wrap li {
    padding: 8px 16px;
}
.current-call-user-action:hover,.change-state-wrap li:hover {
    background-color:#F5F6F8;
    color: #11378D;
}
.change-state-wrap .call-user-state {
    position: initial;
    right: initial;
    bottom: initial;
    display: inline-block;
    vertical-align: sub;
    margin-right: 8px;
}
/*left-drawer gnb*/
.gnb {
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    background-color: #fff;
    border-right: 1px solid #DFE2E8;
    z-index: 1001;
}
.menu-item a {
    display: flex;
    padding: 12px 16px;
    align-items: center;
    cursor: pointer;
}
.menu-icon{
    display: inline-block;
    width:30px;
    height:28px;
    margin-right:0px;
    background-image: url('/images/icon_gnb.png');
    background-repeat: no-repeat;
    transition:margin-right 0.5s;
}
.favorite .menu-icon{background-position: 0px 0px;}
.favorite.current-menu .menu-icon{background-position: -30px 0px;}
.favorite:hover .menu-icon{background-position: -60px 0px;}
.favorite.down .menu-icon{background-position: -90px 0px;}
.favorite.disabled .menu-icon{background-position: -120px 0px;}
.organization .menu-icon{background-position: 0px -28px;}
.organization.current-menu .menu-icon{background-position: -30px -28px;}
.organization:hover .menu-icon{background-position: -60px -28px;}
.organization.down .menu-icon{background-position: -90px -28px;}
.organization.disabled .menu-icon{background-position: -120px -28px;}
.chat .menu-icon{background-position: 0px -56px;}
.chat.current-menu .menu-icon{background-position: -30px -56px;}
.chat:hover .menu-icon{background-position: -60px -56px;}
.chat.down .menu-icon{background-position: -90px -56px;}
.chat.disabled .menu-icon{background-position: -120px -56px;}
.message .menu-icon{background-position: 0px -84px;}
.message.current-menu .menu-icon{background-position: -30px -84px;}
.message:hover .menu-icon{background-position: -60px -84px;}
.message.down .menu-icon{background-position: -90px -84px;}
.message.disabled .menu-icon{background-position: -120px -84px;}
.call .menu-icon{background-position: 0px -112px;}
.call.current-menu .menu-icon{background-position: -30px -112px;}
.call:hover .menu-icon{background-position: -60px -112px;}
.call.down .menu-icon{background-position: -90px -112px;}
.call.disabled .menu-icon{background-position: -120px -112px;}
.noti .menu-icon{background-position: 0px -140px;}
.noti.current-menu .menu-icon{background-position: -30px -140px;}
.noti:hover .menu-icon{background-position: -60px -140px;}
.noti.down .menu-icon{background-position: -90px -140px;}
.noti.disabled .menu-icon{background-position: -120px -140px;}
.team .menu-icon{background-position: 0px -168px;}
.team.current-menu .menu-icon{background-position: -30px -168px;}
.team:hover .menu-icon{background-position: -60px -168px;}
.team.down .menu-icon{background-position: -90px -168px;}
.team.disabled .menu-icon{background-position: -120px -168px;}
.feed .menu-icon{background-position: 0px -196px;}
.feed.current-menu .menu-icon{background-position: -30px -196px;}
.feed:hover .menu-icon{background-position: -60px -196px;}
.feed.down .menu-icon{background-position: -90px -196px;}
.feed.disabled .menu-icon{background-position: -120px -196px;}
.menu-item h5{display:none;color:#C8CACE;transition:display 0.5s;}
.menu-item.current-menu h5{color:#11378D;}
.menu-item:hover h5{color:#2F59B7;}

.gnb:hover .menu-icon{margin-right:12px;transition:margin-right 0.5s;}
.gnb:hover .menu-item h5{display: inline-block;transition:display 0.5s;}
/*시그니처 ci*/
.signiture-ci-wrap {
    width: 28px;
    height: auto;
    position: fixed;
    right: 24px;
    bottom: 24px;
}
.signiture-ci-wrap.color img{
    filter: none;
    opacity: 1;
}
.signiture-ci-wrap img{
    filter: grayscale(0.9);
    opacity: 0.1;
}

/***************************************************************************
                            4. css
***************************************************************************/
.call-contens-wrap {
    width: calc( 100% - 62px );
    height: auto;
    position: absolute;
    top: 56px;
    bottom: 0;
    left: 62px;
    right: 0;
}
/*전화헤더*/
.call-main-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.call-page-title-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    display: flex;
    width: 100%;
    height: 52px;
    padding: 10px 16px;
    border-bottom: 1px solid #DFE2E8;
    align-items: center;
    background-color: #f8f9fa;
}
.call-action-wrap {
    font-size: 0;
    margin-left: auto;
}
.call-action{
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right:12px;
    background-image: url(/images/btn_call_action.png);
    background-repeat: no-repeat;
    cursor: pointer;
    vertical-align: middle;
    font-size: 0;
}
.call-action:last-child{margin-right: 0;}
.call-action.make-a-call{background-position:0px 0px;}
.call-action.call-pick-up{background-position:0px -26px;}
.call-action.call-forwarding{background-position:0px -52px;}
.call-action.call-reservation{background-position:0px -78px;}
.call-action.make-a-call:hover{background-position:-26px 0px;}
.call-action.call-pick-up:hover{background-position:-26px -26px;}
.call-action.call-forwarding:hover{background-position:-26px -52px;}
.call-action.call-reservation:hover{background-position:-26px -78px;}
/*전화-콘텐츠*/
.call-main-inner {
    position: absolute;
    top: 52px;
    left: 0;
    right: 360px;
    bottom: 0;
    padding: 16px;
}
.call-dashboard-area {
    display: flex;
    margin-bottom: 16px;
}
.call-dashboard-col {
    
    margin-right: 16px;
    padding: 16px;
    width: calc( ( 100% - 16px ) /3 );
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.1);
}
.call-dashboard-col.call-user-info-wrap{display: flex;
    align-items: center;}
.call-dashboard-col:last-child {
    margin-right: 0;
}
.call-dashboard-col.call-user-info-wrap .call-user-pic-wrap {
    width: 80px;
    height: 80px;
    margin-right: 16px;
}
.call-user-info-wrap-inner {
    width: calc( 100% - 80px - 16px );
}
.call-inner-row *{font-size: 1.2rem;}
.call-dashboard-col.call-user-info-wrap .call-user-name{
    font-size: 2rem;
    font-weight: 600;
}
.call-dashboard-col.call-user-info-wrap .call-user-department:before {
    content: "|";
    color: #D5D7DC;
    font-size: 1rem;
    vertical-align: 2px;
    margin: 0px 8px;
}
.call-dashboard-col.call-user-info-wrap .call-user-position,.call-dashboard-col.call-user-info-wrap .call-user-department{
    font-weight: 500;
}
.call-dashboard-area .call-user-phone {
    margin-right: 8px;
}
.call-dashboard-area .call-user-phone:before,.call-dashboard-area .call-user-mobile:before{
    content: "";
    width: 14px;
    height: 16px;
    display: inline-block;
    background-image: url(/images/icon_contact.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 8px;
    opacity: 0.6;
}
.call-dashboard-area .call-user-phone:before {
    background-position: 0px center;
}
.call-dashboard-area .call-user-mobile:before {
    background-position: -15px center;
}
.num-today-call, .num-missed-call {
    font-size: 2rem;
    font-weight: 600;
}
.num-today-call:after,.num-missed-call:after {
    content: "건";
}
.label-today-call, .label-missed-call {
    font-weight: 500;
}
.call-inner-row.call-user-contact,.call-inner-row.num-today-call-info-wrap, .call-inner-row.missed-call-info-wrap {
    border-top: 1px solid #DFE2E8;
    margin-top: 4px;
    padding-top: 4px;
}
.call-inner-row.num-today-call-info-wrap span, .call-inner-row.missed-call-info-wrap span,.call-inner-row.call-user-contact span {
    color: #9D9EA2;
    font-size: 1rem;
}
.num-today-make-call,.missed-date{margin-right:8px;}
.num-today-make-call:before {
    content: "발신";
    margin-right: 4px;
}
.num-today-get-call:before{
    content: "수신";
    margin-right: 4px;
}
.make-a-call-area-small {
    margin-bottom: 16px;
}
.section-title {
    margin-bottom: 6px;
}
.make-a-call-inner{
    display: flex;
    border: 1px solid #DFE2E8;
}
.input-make-a-call {
    background-color: #fff;
    width: calc( 100% - 60px );
    padding: 6px 16px;
}
.btn-make-a-call {
    width: 60px;
    height: 40px;
    background-color: #04DE71;
    background-image: url(/images/icon_call.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.btn-make-a-call:hover{
    background-color: #00c563;
}
.call-history-area .section-title{font-size: 0;}
.section-title-inner, .section-title-tab {
    font-weight: 500;
}
.call-history-area .section-title-inner:after {
    content: "|";
    margin: 0 8px;
    font-size: 0.75rem;
    vertical-align: 2px;
    color: #b4b5b8;
}
.section-title-tab.current{color: #11378D;}
.section-title-tab{
    margin-right: 8px;
    cursor: pointer;
    color: #b4b5b8;
}
.section-title-tab:hover{
    color: #2F59B7;
}
.call-history-table-area {
    width: 100%;
    height: 570px;
    overflow-y: scroll;
}
.call-history-table-area::-webkit-scrollbar {
    width: 8px;
}
.call-history-table-area::-webkit-scrollbar-track {
    background-color: transparent;
}
.call-history-table-area::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 4px;
    cursor: default;
}
.call-history-table {
    width: 100%;
}
thead {background-color: #11378D;}
thead th {
    color: #fff;
    font-weight: 500;
}
thead tr {
    border-top: 1px solid #DFE2E8;
}
.table-cell:first-child {width: 80px;}
.table-cell {width: calc( ( 100% - 80px ) / 6 );}
tr {
    border-bottom: 1px solid #DFE2E8;
}
tr:nth-child(even) {
    background-color: #fff;
}
th,td {
    text-align: center;
    padding: 8px 16px;
}
.icon-call-info {
    display: inline-block;
    width: 21px;
    height: 16px;
    background-image: url(/images/icon_call_history.png);
    background-repeat: no-repeat;
    vertical-align: -2px;
}
.icon-call-info.make{background-position: 0px 0px;}
.icon-call-info.get{background-position: -21px 0px;}
.icon-call-info.pick-up{background-position: -42px 0px;}
.icon-call-info.missed{background-position: -63px 0px;}
/*전화-우사이드*/
.side-rht {
    width: 360px;
    position: absolute;
    top: 52px;
    right: 0;
    bottom: 0;
    border-left: 1px solid #DFE2E8;
}
.side-title-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    display: flex;
    width: 100%;
    height: 36px;
    border-bottom: 1px solid #DFE2E8;
    align-items: center;
}
.side-tab {
    padding: 7px 16px;
    font-weight: 500;
    color: #b4b5b8;
    cursor: pointer;
    
}
.side-tab:hover {
    color: #2F59B7;
}
.side-tab.current {
    color: #11378D;
    border-bottom: 3px solid #11378D;
    padding: 7px 16px 4px;
}
.side-list-wrap {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 36px;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
}
.side-list-wrap::-webkit-scrollbar {display: none;}
.side-list-single {
    display: flex;
    position: relative;
    width: 100%;
    padding: 12px 16px;
    align-items: center;
    cursor: pointer;
}
.side-list-single:hover{background-color:#fff;}
.side-rht .call-user-state {
    position: initial;
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.side-rht .call-user-position {
    display: inline-block;
    margin-left: 8px;
}
.side-rht .call-user-department:before {
    content: "|";
    color: #D5D7DC;
    font-size: 0.7rem;
    vertical-align: 2px;
    margin: 0px 8px;
}
.side-rht .phone-num{margin-left:auto;}
/*모달*/
.btn-ghost-s, .btn-solid-s {
    display: inline-block;
    padding: 2px 12px;
    border: 1px solid #11378D;
    border-radius: 4px;
    color: #11378D;
    font-weight: 500;
    cursor: pointer;
}
.btn-ghost-s{margin-right: 16px;}
.btn-solid-s{color: #fff;background-color:#11378D;}
.btn-ghost-s:hover{background-color:#ebf1ff;}
.btn-solid-s:hover{border-color:#2F59B7;background-color:#0A2768;}
.modal-wrap {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 9998;
}
.modal {
    width: fit-content;
    height: auto;
    margin: 20% auto;
    padding: 16px;
    background-color: #fff;
}
.modal h5{
    margin-bottom: 8px;
}
.get-favorite-group-name {
    width: 100%;
    min-width: 240px;
    height: 32px;
    margin-bottom: 24px;
    padding: 4px 8px;
    border: 1px solid #DFE2E8;
}
.modal-btn-wrap {
    text-align: center;
}
/***************************************************************************
                            5. responsive
***************************************************************************/
@media (max-width:1024px){
}
@media (max-width:768px){
}
@media (max-width:414px){

}