@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Raleway:wght@300;400&family=Roboto:wght@500;700&display=swap");
/***************************************************************************
***************************************************************************
***************************************************************************
Table
1. reset
2. typo
3. general
4. css
5. responsive
***************************************************************************
***************************************************************************
***************************************************************************/

/***************************************************************************
                            1. reset
***************************************************************************/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
select,
option,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: transparent;
  outline: 0;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
img,
main {
  display: block;
}
ol,
ul,
li {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
em,
address {
  font-style: normal;
}
img {
  border: 0;
  font-size: 0;
  line-height: 0;
}
img,
video {
  max-width: 100%;
  width: 100%;
  height: auto;
}
a,
a:visited,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
caption {
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}
th,
td {
  vertical-align: middle;
  /* white-space: nowrap */
}
body {
  background-color: #f5f6f8;
}
strong {
  font-weight: bold !important;
}

em {
  font-style: italic !important;
}
/***************************************************************************
                            2. typo
***************************************************************************/
html {
  font-size: 14px;
}
body,
div,
span,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
select,
option,
input,
textarea {
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Noto Sans KR", "Segoe UI", "Roboto", arial, "맑은 고딕",
    "Malgun Gothic", "돋움", sans-serif;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #555;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Sans KR", "맑은 고딕", "Malgun Gothic", "돋움", sans-serif;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.5;
  color: #000;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}
.h-eng {
  font-family: "Roboto", sans-serif;
  line-height: 1.42;
  font-weight: 700;
}
h1.h-eng {
  font-size: 3.12rem;
}
h2.h-eng {
  font-size: 2.62rem;
}
h3.h-eng {
  font-size: 2.12rem;
}
h4.h-eng {
  font-size: 1.62rem;
}
h5.h-eng {
  font-size: 1.37rem;
}
h6.h-eng {
  font-size: 1.12rem;
}
.h-sig {
  font-family: "Raleway", sans-serif;
  line-height: 1.42;
  font-weight: 300;
  color: #727375;
  letter-spacing: -1.08px;
}
h1.h-sig {
  font-size: 3.12rem;
}
h2.h-sig {
  font-size: 2.62rem;
}
h3.h-sig {
  font-size: 2.12rem;
}
h4.h-sig {
  font-size: 1.62rem;
}
h5.h-sig {
  font-size: 1.37rem;
}
h6.h-sig {
  font-size: 1.12rem;
  font-weight: 400;
}
p {
  margin-bottom: 6px;
}
.sub1 {
  font-size: 0.875rem;
  letter-spacing: 0.35px;
  color: #b4b5b8;
}
.sub2 {
  font-size: 1rem;
  color: #b4b5b8;
}
.sub3 {
  font-size: 1rem;
  color: #11378d;
}
a,
a:visited,
a:focus,
a:active {
  color: #555;
}
a:hover,
.point-fc {
  color: #2f59b7;
}

/***************************************************************************
                             signiture-ci
***************************************************************************/

.signiture-ci-wrap {
  width: 28px;
  height: auto;
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.signiture-ci-wrap.color img {
  filter: none;
  opacity: 1;
}
.signiture-ci-wrap img {
  filter: grayscale(0.9);
  opacity: 0.1;
}

/***************************************************************************
                             content-wrapper
***************************************************************************/

.contents-wrap {
  width: calc(100% - 62px);
  height: auto;
  margin-top: 108px;
  margin-left: 62px;
  padding: 16px;
}

/***************************************************************************
                             page title wrap (공통)
***************************************************************************/

.page-title-wrap {
  display: flex;
  position: fixed;
  top: 56px;
  right: 0;
  left: 62px;
  width: calc(100% - 62px);
  height: 52px;
  padding: 6px 16px;
  align-items: center;
  border-bottom: 1px solid #dfe2e8;
  background-color: #f8f9fa;
  z-index: 1000;
}
.page-title {
  display: inline-block;
  margin-right: 16px;
}
.local-search-wrap {
  width: 10%;
  min-width: 140px;

  margin-right: 16px;
}
.local-search {
  width: 100%;
  height: 28px;
  padding: 4px 4px 4px 36px;
  border: 1px solid #dfe2e8;
  border-radius: 15px;
  background-color: #fff;
  background-image: url("../images/icon_search.png");
  background-repeat: no-repeat;
  background-position: 12px center;
  box-sizing: border-box;
}

/***************************************************************************
                             user (공통)
***************************************************************************/
.user-row {
  position: relative;
  display: flex;
  padding: 12px;
  align-items: center;
  border: 1px solid transparent;
}
.user-row:hover {
  background-color: #fff;
  border: 1px solid #ebedf1;
}
.user-list-title {
  background-color: #ebedf1;
  padding: 4px 8px;
  border-bottom: 1px solid #dfe2e8;
  cursor: pointer;
}
.user-list-num,
.user-position {
  margin-left: 8px;
}
.user-row .user-profile-state-wrap {
  margin-right: 16px;
}
.user-row .user-profile-state-wrap,
.user-row .user-pic-wrap {
  width: 48px;
}
.user-row .user-state {
  right: -4px;
}
.user-state.online {
  background-color: #04de71;
}
.user-state.absence {
  background-color: #ff3b30;
}
.user-state.otherWork {
  background-color: #ff9500;
}
.user-state.workingOutside {
  background-color: #2094fa;
}
.user-state.onCall {
  background-color: #ffe620;
}
.user-state.atTable {
  background-color: #f26f6f;
}
.user-state.inMeeting {
  background-color: #787aff;
}
.user-state.offline {
  background-color: #333;
}

.user-name {
  width: auto;
  display: inline-block;
  vertical-align: bottom;
}
.user-department:before {
  content: "|";
  color: #d5d7dc;
  font-size: 0.7rem;
  vertical-align: 2px;
  margin: 0px 8px;
}
.user-login-device {
  display: inline-block;
  margin-left: 8px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  background-image: url("../images/icon_device.png");
  background-repeat: no-repeat;
}
.user-login-device.android,
.user-login-device.iphone {
  background-position: 0px center;
}
.user-login-device.windows,
.user-login-device.mac {
  background-position: -17px center;
}
.user-login-device.android.windows {
  width: 27px;
  background-position: -34px center;
}
.user-login-device.android.mac {
  width: 27px;
  background-position: -34px center;
}
.user-login-device.iphone.windows {
  width: 27px;
  background-position: -34px center;
}
.user-login-device.iphone.mac {
  width: 27px;
  background-position: -34px center;
}

.user-quick-action-wrap {
  display: none;
  margin-left: auto;
}
.user-row:hover .user-quick-action-wrap {
  display: block;
}
.user-quick-action-wrap .btn-quick {
  display: inline-block;
  width: 36px;
  height: 36px;
  margin-right: 12px;
  background-image: url("../images/btn_quick_action.png");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}
.user-quick-action-wrap .btn-quick:last-child {
  margin-right: 0;
}

.btn-quick.chat {
  background-position: 0px 0px;
}
.btn-quick.chat:hover {
  background-position: -36px 0px;
}
.btn-quick.message {
  background-position: -144px 0px;
}
.btn-quick.message:hover {
  background-position: -180px 0px;
}
.btn-quick.call {
  background-position: -288px 0px;
}
.btn-quick.call:hover {
  background-position: -324px 0px;
}

.user-info-container {
  position: absolute;
  width: 308px;
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 4px #dfe2e8;
  z-index: 1002;
}
.user-info-container:after {
  content: "";
  position: absolute;
  top: -8px;
  left: 8px;
  width: 0;
  height: 0;
  font-size: 0;
  border-right: 6px solid transparent;
  border-bottom: 8px solid #fff;
  border-left: 6px solid transparent;
}
.user-info-container .user-profile-state-wrap {
  margin-right: 0;
}
.user-info-container .user-info-wrap,
.user-info-container .user-contact-wrap {
  width: 100%;
  padding: 8px 0px;
  border-bottom: 1px solid #dfe2e8;
}

.user-info-container .user-info-wrap * {
  text-overflow: initial;
  white-space: initial;
}
.user-list-wrap {
  font-weight: bold;
  visibility: visible;
  opacity: 1;
  max-height: 500px;
  transition: visibility 0s, opacity 0.3s, max-height 0.6s linear;
}

.user-list-wrap-hide {
  visibility: hidden;
  opacity: 0;
  max-height: 0px;
  transition: max-height 0.3s, opacity 0.3s, visibility 0.3s linear;
}

.btn-close {
  display: inline-block;
  width: 10px;
  height: 10px;
  float: right;
  background-image: url("../images/btn_close.png");
  background-repeat: no-repeat;
  background-position: 0px center;
  cursor: pointer;
}
.btn-close:hover {
  background-position: -11px center;
}
.user-phone,
.user-mobile {
  margin-bottom: 8px;
}

.user-phone {
  margin-right: 10px;
}

.user-phone:before,
.user-mobile:before,
.user-email:before {
  content: "";
  width: 14px;
  height: 16px;
  display: inline-block;
  background-image: url("../images/icon_contact.png");
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 6px;
}
.user-phone:before {
  background-position: 0px center;
}
.user-mobile:before {
  background-position: -15px center;
}
.user-email:before {
  background-position: -30px center;
}
.go-to-contact-action {
  padding: 12px 0 4px;
}
.btn-contact-action {
  width: 24px;
  height: 24px;
  background-image: url("../images/icon_go-to-contact-action.png");
  background-repeat: no-repeat;
  margin-right: 12px;
  float: left;
  cursor: pointer;
}
.btn-contact-action.float {
  margin-right: 0;
}
.btn-contact-action.chat {
  background-position: 0px center;
}
.btn-contact-action.chat:hover {
  background-position: -25px center;
}
.btn-contact-action.message {
  background-position: -50px center;
}
.btn-contact-action.message:hover {
  background-position: -75px center;
}
.btn-contact-action.remote {
  background-position: -100px center;
}
.btn-contact-action.remote:hover {
  background-position: -125px center;
}
.btn-contact-action.call {
  background-position: -150px center;
}
.btn-contact-action.call:hover {
  background-position: -175px center;
}
.btn-contact-action.voice-talk {
  background-position: -200px center;
}
.btn-contact-action.voice-talk:hover {
  background-position: -225px center;
}
.btn-contact-action.video-talk {
  background-position: -250px center;
}
.btn-contact-action.video-talk:hover {
  background-position: -275px center;
}
.btn-contact-action.email {
  background-position: -300px center;
}
.btn-contact-action.email:hover {
  background-position: -325px center;
}
.btn-contact-action.float {
  background-position: -350px center;
}
.btn-contact-action.float:hover {
  background-position: -375px center;
}

/***************************************************************************
                            5. responsive
***************************************************************************/
