
/*시그니처 ci*/
.signiture-ci-wrap {
  width: 28px;
  height: auto;
  position: fixed;
  right: 24px;
  bottom: 24px;
}
.signiture-ci-wrap.color img {
  filter: none;
  opacity: 1;
}
.signiture-ci-wrap img {
  filter: grayscale(0.9);
  opacity: 0.1;
}

/*멤버보기옵션*/
.lnb-menu-item.favorite-view-option {
  cursor: default;
}
.lnb-menu-item.favorite-view-option:hover {
  background-color: transparent;
}
.lnb-menu-item.favorite-view-option:hover h6 {
  color: #000;
}
.lnb-menu-item.favorite-view-option:hover li,
.lnb-menu-item.favorite-view-option:hover label {
  color: #333;
}
.favorite-view-option li {
  display: flex;
  margin-left: -16px;
  padding: 8px 16px;
  width: calc(100% + 32px);
  align-items: center;
  font-weight: 500;
}
.favorite-view-option li:hover {
  background-color: #f5f6f8;
}
.favorite-view-option li:first-child {
  display: block;
}
.lnb-menu-item.member-view-option {
  cursor: default;
}
.lnb-menu-item.member-view-option:hover {
  background-color: transparent;
}
.lnb-menu-item.member-view-option:hover h6 {
  color: #000;
}
.lnb-menu-item.member-view-option:hover li,
.lnb-menu-item.member-view-option:hover label {
  color: #333;
}

.member-view-option li {
  display: flex;
  margin-left: -16px;
  padding: 8px 16px;
  width: calc(100% + 32px);
  align-items: center;
  font-weight: 500;
}
.member-view-option li:hover {
  background-color: #f5f6f8;
}
.member-view-option li:first-child {
  display: block;
}
.view-option-place-list-wrap input {
  display: none;
  font-size: 0;
  line-height: 0;
}
.view-option-place-list-wrap label,
.lnb-menu-item.member-view-option:hover .view-option-place-list-wrap label {
  color: #b4b5b8;
}
#place-online[type="radio"] + .place-online-label i,
#place-all[type="radio"] + .place-all-label i {
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  background-image: url("../../assets/images/btn_check.png");
  background-repeat: no-repeat;
  vertical-align: middle;
}
#place-online[type="radio"] + .place-online-label:hover,
#place-online[type="radio"]:checked + .place-online-label:hover,
#place-all[type="radio"] + .place-all-label:hover,
#place-all[type="radio"]:checked + .place-all-label:hover {
  color: #2f59b7;
}
#place-online[type="radio"] + .place-online-label:hover i,
#place-online[type="radio"]:checked + .place-online-label:hover i,
#place-all[type="radio"] + .place-all-label:hover i,
#place-all[type="radio"]:checked + .place-all-label:hover i {
  background-position: -16px 0px;
}
#place-online[type="radio"]:checked + .place-online-label i,
#place-all[type="radio"]:checked + .place-all-label i {
  background-position: -32px 0px;
}
#place-online[type="radio"]:checked + .place-online-label,
#place-all[type="radio"]:checked + .place-all-label {
  color: #0a2768;
}
.place-online-label {
  margin-right: 16px;
}
.toggleWrap {
  position: relative;
  margin-left: auto;
}
.toggleWrap,
.toggleWrap div {
  display: inline-block;
  font-size: 0;
}
.toggleWrap input {
  display: none;
}
.toggleWrap label {
  display: inline-block;
  width: 28px;
  height: 16px;
  box-sizing: border-box;
  border-radius: 12px;
  border: 1px solid #bfbfbf;
  background: #d0d0d0;
  /*transition: all 0.3s ease;*/
}
.toggleWrap label > span {
  position: absolute;
  top: 3px;
  left: 3px;
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25), 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  transition: all 0.3s cubic-bezier(0.275, -0.45, 0.725, 1.45);
  background: #fff;
}
.toggleWrap input:active + div label,
.toggleWrap input:checked + div label {
  border: 8px solid #11378d;
}
.toggleWrap input:active + div label > span,
.toggleWrap input:checked + div label > span {
  left: 16px;
}

/*즐겨찾기그룹수정*/
.btn-ghost-s.capsule,
.btn-solid-s.capsule {
  border-radius: 14px;
}
.list-edit-action-wrap {
  display: block;
  margin-left: auto;
  font-size: 0;
}
.list-edit-action-wrap .remove,
.list-edit-action-wrap .cancel,
.list-edit-action-wrap .up,
.list-edit-action-wrap .down,
.list-edit-action-wrap .save {
  margin-right: 12px;
}
.check-wrap,
#ckeck-edit {
  display: none;
}
.user-row .check-wrap {
  margin-right: 8px;
}
.check-wrap input[type="checkbox"] + .btn-ckeck-edit {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../../assets/images/btn_check.png");
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: 0px 0px;
  vertical-align: middle;
}

.check-wrap input[type="checkbox"]:checked + .btn-ckeck-edit {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../../assets/images/btn_check.png");
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: -32px 0px;
  vertical-align: middle;
}
.check-wrap input[type="checkbox"] + .btn-ckeck-edit:hover,
.check-wrap input[type="checkbox"]:checked + .btn-ckeck-edit:hover {
  background-position: -16px 0px;
}
